<!DOCTYPE HTML>
<html>
<head>
    <title>404-ERROR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--부트스트랩 css 추가-->
</head>
<body>
<div class="container">
    <h2>유효하지 않은 페이지입니다.</h2>
</div>

</body>